html {
  --color-realbox-foreground: #000000ff;
  --google-grey-refresh-700-rgb: 95, 99, 104;
  --google-grey-refresh-700: rgb(var(--google-grey-refresh-700-rgb));
  --ntp-one-google-bar-height: 56px;
  --ntp-search-box-width: 337px;
  --ntp-realbox-height: 44px;
  --color-realbox-placeholder: #5f6368ff;
}
@media (min-width: 560px) {
  html {
      --ntp-search-box-width: 449px;
  }
}
@media (min-width: 672px) {
  html {
      --ntp-search-box-width: 561px;
  }
}
body {
  font-family: system-ui, sans-serif;
  font-size: 81.25%;
  margin: 0;
}
#oneGoogleBar {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.gb_Va:not(.gb_Bd) {
  font: 13px/27px arial,sans-serif;
}
.gb_pa:not(.gb_qa) .gb_Fd {
  padding: 8px;
}
.gb_Fd {
  display: flex;
}
.gb_Wc {
  padding-right: 30px;
  flex: 1 0 auto;
}
.gb_Ed {
  align-items: center;
  display: flex;
}
.gb_Qd {
  height: 48px;
  padding: 0 4px;
  margin-right: 42px;
}
.gb_2d {
  line-height: normal;
  padding-right: 15px;
}
.gb_g {
  display: inline-block;
  padding-left: 15px;
}
.gb_g .gb_f {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
a.gb_f, span.gb_f {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
#content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ntp-one-google-bar-height));
  min-width: fit-content;
  padding-top: var(--ntp-one-google-bar-height);
  position: relative;
}
ntp-logo#logo {
  --ntp-logo-height: 200px;
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  min-height: var(--ntp-logo-height);
}
div#logo {
  background-image: url(./google_logo.svg);
  height: 92px;
  width: 272px;
}
ntp-realbox {
  flex-shrink: 0;
  width: var(--ntp-search-box-width);
  border-radius: calc(0.5 * var(--ntp-realbox-height));
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  font-size: 16px;
  height: var(--ntp-realbox-height);
}
#inputWrapper {
  height: 100%;
  position: relative;
}
input {
  background-color: var(--search-box-bg, rgb(217, 217, 217));
  border: none;
  border-radius: calc(0.5 * var(--ntp-realbox-height));
  color: var(--color-realbox-foreground);
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: none;
  padding-inline-end: 44px;
  padding-inline-start: 52px;
  position: relative;
  width: 100%;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
  display: none;
}
::placeholder {
  color: var(--color-realbox-placeholder);
}
#lensSearchButton {
  background-image: url(./lens_icon.svg);
}
#voiceSearchButton {
  background-image: url(./googlemic_clr_24px.svg);
  right: 53px;
}
.realbox-icon-button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  outline: 0;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 16px;
  width: 26px;
}
ntp-realbox-icon {
  height: 100%;
  left: 12px;
  position: absolute;
  top: 0;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 32px;
}
#container {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  width: 32px;
}
div#icon {
  background-image: url(./search.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 24px;
  width: 24px;
}
@media (prefers-color-scheme: dark) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(./background_image.png);
    /* Change background color as needed to match theme: */
    /* I would average the image in JS but that's a PITA & out of scope */
    background-color: rgb(48, 48, 48);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  a.gb_f, span.gb_f {
    color: white;
  }
  div#logo {
    background-image: none;
    /* -webkit-mask-image: url(./google_logo.svg);
    mask-image: url(./google_logo.svg); */
    /* background-color: rgba(255, 255, 255, 1.00); */
  }
}